p{
  margin: 0;
}
#product-grid{
  display: grid;
  width: 100vw;
  grid-template-columns: repeat(7 , 1fr);
  margin-top: 60px;
}
@media (max-width:1700px) and (min-width: 1400px){
  #product-grid{
    grid-template-columns: repeat(6 , 1fr);
  }
}
@media (max-width: 1400px) and (min-width: 1200px){
  #product-grid{
    grid-template-columns: repeat(5 , 1fr);
  }
}
@media (max-width: 1200px) and (min-width: 900px){
  #product-grid{
    grid-template-columns: repeat(4 , 1fr);
  }
}
@media (max-width: 900px) and (min-width: 700px){
  #product-grid{
    grid-template-columns: repeat(3 , 1fr);
  }
}
@media(max-width: 700px){
  #product-grid{
    grid-template-columns: repeat(2 , 1fr);
  }
}
.product-card{
  padding: 40px 20px;
  border: solid rgb(221, 221, 221) 1px;
}
.image-container{
  height: 180px;
  width: 200px;
  display: flex;
  justify-content: center;
}
.product-image{
  margin-bottom: 20px;
  overflow-clip-margin: content-box;
  overflow: clip;
  max-width: 100%;
  max-height: 100%;
}
.product-name{
  font-size: 16px;
  width: 200px;
  height: 38px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.rating{
  display: flex;
  align-items: center;
  margin-bottom: 10px;

}
.star-image{
  width: 100px;
  margin: 5px;
}
.count{
  color: rgb(2, 104, 138);
  margin: 5px;
  align-items: center;
}
.price{
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
}
.amount{
  background-color: rgb(239, 239, 239);
  border: rgb(216, 216, 216) solid 1px;
  padding: 4px 8px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgb(218, 218, 218);
  display: block;
  margin-bottom: 20px;
  cursor: pointer;
}
.added-pop-up{
  display: flex;
  align-items: center;
  padding: 5px;
  opacity: 0;
}
.show{
  opacity: 1;
}
.added-image{
  width: 20px;
  margin-right: 5px;
}
.added-message{
  color: rgb(15, 73, 15);
}
.add-button{
  background-color: rgb(255, 208, 0);
  border: none;
  font-size: 14px;
  padding: 8px 40px;
  border-radius: 60px;
  width: 100%;
  color: rgb(31, 31, 31);
  cursor: pointer;
}
