main{
  margin-top: 60px;
  padding: 40px;
}

p{
  margin: 0;
}

#view-all-orders{
  color: rgb(0, 125, 163);
  font-size: 18px;
}

.arriving-time{
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.product-name{
  margin-bottom: 10px;
}

.product-image{
  padding: 20px;
  margin-bottom: 40px;
}

#view-all-orders:hover{
  color: rgb(255, 145, 0);
}

.progress-labels-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.progress-bar-container{
  width: 100%;
  height: 20px;
  border: 1px gray solid;
  border-radius: 25px;
  margin-top: 10px;
}
.progress{
  height: 20px;
  border: 1px gray solid;
  border-radius: 25px;
  background-color: green;
}
.current-status{
  color: green;
  font-weight: 700;
}